/*
  MIT License
  Copyright (c) {{YEAR}} geho / Thorbergr
  SPDX-License-Identifier: MIT
  See LICENSE in the repository root for full license text.

  Viking Industries Operating System (VIOS)

  Project:  https://github.com/{{GITHUB_OWNER}}/{{GITHUB_REPO}}
  Workshop: https://steamcommunity.com/sharedfiles/filedetails/?id={{WORKSHOP_ID}}
*/
