/*
  Viking Industries Operating System (VIOS)
  (c) {{YEAR}} Thorbergr — Viking Industries
  License: MIT — see LICENSE
  https://steamcommunity.com/sharedfiles/filedetails/?id={{WORKSHOP_ID}}
  https://github.com/{{GITHUB_OWNER}}/{{GITHUB_REPO}}
*/
